// Font
$mainFont: "Poiret One", Helvetica, Arial, sans-serif;

// Size
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1140px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

//fonts
//dark
$darkMainFC: #b4b7be;
$darkSecondaryFC: #ffffff;
$darkThirdFC: #1d1d1d;
$darkFourthDC: #b4b7be;

//light
$LightMainFC: #1d1d1d;

//bg
//dark
$darkMainBg: #1d1d1d;
$darkSecondaryBg: #262626;
$darkThirdBg: #6c6c6c;
$darkFourthBg: #ffffff;
$darkFifthBg: #262626;
$darkSixthsBg: #777777;
$darkSeventhBg: #c6c6c6;
$darkDotsBg: #c4c4c4;
$darkDotsSecondBg: #3e3e3e;
$darkFooterNavBg: #c4c4c4;
$darkScrollPortfolio: #B4B7BE;
$darkScrollWork: #1D1D1D;

//light
$lightMainBg: #ffffff;
$lightSecondaryBg: #f3f3f3;
$lightThirdBg: #c4c4c4;
$lightFourthBg: #ffffff;
$lightFifthBg: #f3f3f3;

//main color

//dark
$darkMainColor: #b4b7be;
$darkSecondaryColor: #c4c4c4;
$darkThirdColor: #ffffff;

//light
$LightMainColor: #8d8d8d;
$LightSecondaryColor: #1d1d1d;
$LightThirdColor: #8c8c8c;
